<configuration>
    <system.webServer>
        <rewrite>
            <rules>
               <rule name="rule 1f" stopProcessing="true">
                       <match url="api/(.*)$"  ignoreCase="true" />
                       <action type="Rewrite" url="api/shopapi.php?request={R:1}"  appendQueryString="true" />
                   </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>