<div ng-controller="MainCheckoutController" class="container">
    <div checkout ng-include="'views/partial/checkout_steps.html'" class="row form-group"></div>

    <div class="row setup-content" id="step-1">
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">
                <div id="checkout-1" >

                    <h3>To continue, please:</h3>
                    <hr/>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3 ><strong>Log In </strong></h3></div>
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="control-label col-xs-2" for="">Email:</label>
                                            <div class="col-xs-10">
                                                <input type="email" class="form-control"  placeholder="Enter email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-2" for="exampleInputPassword1">Password:</a></label>
                                            <div class="col-xs-10">
                                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">

                                            </div>
                                        </div>
                                        <button  class="btn  ">Next</button>

                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3 ><strong>Register</strong></h3></div>
                                <div class="panel-body">
                                    <form class="form-horizontal" submit-form="/checkout-delivery" id="registerForm" name="registerForm" novalidate >
                                        <div  class="form-group" ng-class="{'has-error': registerForm.email_register.$invalid && (registerForm.email_register.$dirty || rc.registerForm.attempted)}"
                                                >
                                            <label class="control-label col-xs-2" for="email_register">Email:</label>
                                            <div class="col-xs-10">
                                            <input type="text" name="email_register" required class="form-control" id="email_register" ng-model="session.email" placeholder="Enter email">
                                            </div>
                                                <small class="error"
                                                       ng-show=" (registerForm.email_register.$error.required && rc.registerForm.attempted) || (registerForm.email_register.$invalid && registerForm.email_register.$dirty)">
                                                    Email address is required.
                                                </small>

                                </div>

                                        <button id="activate-step-2"  name="submit" value="Next" class="continue-button btn">Next</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

