<div class="col-xs-12">
    <ul class="nav nav-pills nav-justified thumbnail setup-panel">
        <li ><a data-url='/checkout/login_register' id="login_register">
            <h4 class="list-group-item-heading">Login/Register</h4>
            <p class="list-group-item-text"><img src="https://cdn1.iconfinder.com/data/icons/Futurosoft%20Icons%200.5.2/32x32/apps/Login%20Manager.png" alt=""/></p>
        </a></li>
        <li ><a data-url='/checkout/delivery'>
            <h4 class="list-group-item-heading">Delivery options</h4>
            <p class="list-group-item-text"><img src="http://png-3.findicons.com/files/icons/2618/e_commerce_icons/32/delivery.png" alt=""/></p>
        </a></li>
        <li ><a data-url='/checkout/confirmation'>
            <h4 class="list-group-item-heading">Confirmation</h4>
            <p class="list-group-item-text"><img src="http://icon.downv.com/32x32/6/49/1274152.74f87d6439cc8ad880b8a537e8a2d5a4.png" alt=""/></p>        </a></li>
    </ul>
</div>