<div class="col-xs-12">
    <ul class="nav nav-pills nav-justified thumbnail setup-panel">
        <li class="active"><a href="#step-1">
            <h4 class="list-group-item-heading">Login/Register</h4>
            <p class="list-group-item-text">Login or Register</p>
        </a></li>
        <li class="disabled"><a href="#step-2">
            <h4 class="list-group-item-heading">Delivery options</h4>
            <p class="list-group-item-text">Enter your address</p>
        </a></li>
        <li class="disabled"><a href="#step-3">
            <h4 class="list-group-item-heading">Confirmation</h4>
            <p class="list-group-item-text">Order receipt</p>
        </a></li>
    </ul>
</div>