<div id="product-details" ng-controller="ProductDetailsController" >

    <div class="row" >
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">
                <div class="row">
                    <div class="col-md-4">
                            <div>
                                <img ng-src="http://ecx.images-amazon.com/images/I/51yMerQZlQL._SL150_.jpg" alt=""/>
                            </div>
                    </div>

                    <div class="col-md-4">

                        <div>
                            <h1>
                                PHP Objects, Patterns and Practice
                            </h1>
                            <p>Price: <span></span></p>
                            <p>Description: </p>
                        </div>
                    </div>

                    <div class="col-md-4">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>