<div class="container">

    <div class="row"></div>
    <div class="col-md-4">
        <h3>Popular items</h3>
        <ul >
            <li>
                <a href="">
                    PHP Objects, Patterns and Practice</a>


            </li>
            <li>
                <a href="">
                    PHP Cookbook</a>


            </li>
            <li>
                <a href="">

                    Programming PHP</a>


            </li>
            <li>
                <a href="">
                    PHP and MySQL Web Development</a>


            </li>
            <li>
                <a href="">
                    PHP Objects, Patterns and Practice</a>


            </li>
            <li>
                <a href="">
                    PHP Cookbook</a>


            </li>
            <li>
                <a href="">

                    Programming PHP</a>


            </li>
            <li>
                <a href="">
                    PHP and MySQL Web Development</a>


            </li>

        </ul>
    </div>
    <div class="col-md-4">
        <h3>Popular Categories</h3>
        <ul >
            <li>
                <a href="">
                    Books</a>


            </li>
            <li>
                <a href="">
                    Computers</a>


            </li>
            <li>
                <a href="">

                    Software</a>


            </li>
            <li>
                <a href="">
                    Video Games</a>


            </li>
            <li>
                <a href="">
                    Appliances</a>


            </li>


        </ul>
    </div>
    <div class="col-md-4">
        <h3>Links</h3>
        <ul >
            <li>
                <a href="">
                    Order history</a>


            </li>
            <li>
                <a href="">
                    Sign in</a>


            </li>
            <li>
                <a href="">

                    Register</a>


            </li>
            <p id="payment">Pay with:  <img src="views/img/cards.jpg" alt=""/></p>


        </ul>
        <p id="copyright" >© 2014 AngularWebshop.com.</p>

    </div>
</div>