    <div id="menu">
        <div class="navbar-header col-md-3">
            <a href="#" class="navbar-brand">Angular Webshop</a>
        </div>
        <div class="navbar-collapse collapse ">
            <nav class="navbar-logo">
                <ul class="nav navbar-nav">
                    <li><a href="#/">Index</a></li>
                    <li><a href="#/">Categories</a></li>
                    <li><a href="#/">Products</a></li>
                    <li><a href="#/">Brands</a></li>
                    <li><a href="#/">Sign in</a></li>
                    <li><a href="#/">Register</a></li>
                </ul>
            </nav>
            <div id="pretraga">
                <input  type="text"/>
                <a href="#">Search</a>
            </div>
        </div>
    </div>

