    <div id="menu">
        <div class="navbar-header col-md-3">
            <a href="#" class="navbar-brand">Angular Webshop</a>
        </div>
        <div class="navbar-collapse collapse ">
            <nav class="navbar-logo">
                <ul class="nav navbar-nav">
                    <li><a href="#/">Index</a></li>
                    <li><a href="#/">Categories</a></li>
                    <li><a href="#/">Products</a></li>
                    <li><a href="#/">Brands</a></li>
                    <li><a href="#/">Sign in</a></li>
                    <li><a href="#/">Register</a></li>
                </ul>
            </nav>
            <div id="pretraga">
                <input  type="text"/>
                <a class="search-button" href="#">Search
                </a>

            </div>
            <div id="cart">
                <div id="pop" class='popbox'>
                    <p class="open">
                        Cart <img add-to-cart src="http://png-4.findicons.com/files/icons/2015/24x24_free_application/24/shopping_cart.png" alt=""/> {{ incart }}

                    </p>
                    <div class='collapse'>
                        <div class='box'>
                            <div class='arrow'></div>
                            <div class='arrow-border'></div>
                            <form action="">
                                <h3>In cart</h3>
                                <hr/>

                                <div ng-repeat="product in cart" class="in-cart-products">
                                    <img  class="cart_image" src="{{ product.image_url }}"  alt=""/>
                                    <p><a href="#/">{{product.name}}</a>  </p> <br />
                                    <p class="quantity" >Quantity: <strong>{{ product.quantity }}</strong></p>
                                    <p class="cart-price pull-right"></span>Price: <strong>${{product.price}}</strong></p>
                                    <hr style="clear:both"/>
                                </div>
                                <h3 id="total-price">Total: {{cart_total | currency}}</h3>
                                <a href="#/cart"><p id="show-cart">Show cart</p></a>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>
            </div>
    </div>

</div>

